<div class="container">

    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 id="title" class="mb-3">Dados do Cliente</h3>
            <button class="btn btn-sm btn-secondary" routerLink='/clients'>Back</button>
        </div>
    </div>

    <div class="card round mt-3">
        <div class="row text-uppercase">
            <div class="col p-2">

                <div class="row align-self-center ">

                    <div class="col-3 text-center text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </div>

                    <div class="col-9">
                        <p class="m-0 text-secondary">Nome Cliente</p>
                        <p id="nomeInvestimento" class="text-uppercase m-0 p-0">{{client?.name}}</p>
                    </div>

                </div>


            </div>
            <div class="col p-2">

                <div class="row align-self-center">

                    <div class="col-3 text-center text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                          </svg>
                    </div>

                    <div class="col-9">
                        <p class="m-0 text-secondary">Email</p>
                        <p class="m-0 p-0">{{client?.email}}</p>
                    </div>

                </div>

            </div>


            <div class="col p-2">

                <div class="row align-self-center ">

                    <div class="col-3 text-center text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>
                    </div>

                    <div class="col-9">
                        <p class="m-0 text-secondary">Cliente desde</p>
                        <p class="m-0 p-0">{{client?.createdAt | date:"dd/MM/yyyy"}}</p>
                    </div>

                </div>


            </div>
        </div>
    </div>


    <!-- <app-investments-list-by-client *ngIf="client !== null" [client]="client" ></app-investments-list-by-client> -->

</div>




