
<div class="container">
    <form [formGroup]="formClient" (ngSubmit)="saveNewClient()">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('name')">
                O nome é obrigatório!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="temail" class="form-control" formControlName="email">
            <div class="form-text text-danger" *ngIf="isFormControlInvalid('email')">
                O email deve ser válido!
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
        </div>
    </form>
</div>